*{
    padding: 0;
    margin: 0;
}
:root{
    --btn-color:#0050ff;
    --purp-color:#751fff;
    --bg-color:#ecdace;
}
body{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 110vh;
}
nav{
    padding: 40px 25px;
}
.navbar nav ul{
    display: flex;
}
.navbar{
    display: flex;
    height: 9ch;
    margin:36px 0;
    justify-content: space-between;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 20;
    margin: 0;
    padding: 25px 0 2px 0;
}
.navbar nav ul li{
    list-style: none;
    padding-right: 27px;
    height: 100%;
}

#fff a{
    color: #0050ff;
}

.navbar nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding: 5px 8px 8px;
    color: black;
    height: 100%;
}
.nav-text h1{
    font-size: 30px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.nav-text i{
    color: #0050ff;
}

.navbar nav li a:hover{
    color: #0050ff;
    cursor: pointer;
    /* transform:scale(1.1); */
}

.nav-text p{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}


.nav-text{
    display: flex;
    padding: 22px 0 0 73px;
    /* justify-content: space-evenly; */
    gap: 8px;
}
.lets-talk{
    width: 100%;
    height: 110vh;
    background:var(--bg-color);
}


.form form{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 21ch;
    background: white;
    width: calc(27%);
    padding: 37px;
    left: 34%;
    height: 56ch;
}

.form form input:hover{
    border-bottom: 1px solid var(--purp-color);

}

.lets-talk h1{
    position: absolute;
    margin: 21px;
    font-size: 86px;
    font-weight: 300;
}
.form form input{
    margin: 0 0 29px 0;
    background: no-repeat;
    border: none;
    margin-top: 12px;
    outline: none;
    font-size: 21px;
    color: black;
    padding-left: 9px;
    border-bottom: 1px solid gray;
}


.form button {
    background-color:var(--btn-color);
    color: white;
    border: none;
    outline: none;
    width: calc(22%);
    border-radius: 36px;
    padding: 12px;
}

.form button:hover {
    background:var(--purp-color);
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}


.footer{
    width: 98%;
    height: 8ch;
    display: flex;
    justify-content: space-between;
    top: 3ch;
    position: relative;
    padding-left: 32px;
}

.footer .f1 p{
    color: black;
    position: absolute;
}

.footer .f2{
    display: flex;
    gap: 66px;
    padding-right: 33px;
}
.f2 h1{
    font-size: 16px;
    text-align: center;
}

.f2 p{
    font-size:12px;
}
.f2 .bx{
    padding: 3px 5px;
}
