*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

header{
    width: 100%;
    height: 110vh;
}
nav{
    padding: 40px 25px;
}
.navbar nav ul{
    display: flex;
}
.navbar{
    display: flex;
    height: 10ch;
    padding: 17px 0 1px 0;
    /* margin: 36px 0; */
    justify-content: space-between;
}
.navbar nav ul li{
    list-style: none;
    padding-right: 27px;
    height: 100%;
}

#fff a{
    color: #0050ff;
}

.navbar nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding: 5px 8px 8px;
    color: black;
    height: 100%;
}
.nav-text h1{
    font-size: 30px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.nav-text i{
    color: #0050ff;
}

.navbar nav li a:hover{
    color: #0050ff;
    cursor: pointer;
    /* transform:scale(1.1); */
}

.nav-text p{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}


.nav-text{
    display: flex;
    padding: 22px 0 0 73px;
    /* justify-content: space-evenly; */
    gap: 8px;
}

.resume-box{
    background-color: #e6dace;
    height: 239ch;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.resume-box h1{
    text-align: center;
    margin-top: 39px;
}
.exp-btn{
    display: flex;
    justify-content: space-evenly;
    margin: 58px 0;
}

.exp-btn a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background: #0050ff;
    border: 2px solid #0050ff;
    border-radius: 31px;
    padding: 9px 17px;
}

.exp1{
    width: calc(44%);
    margin: 28px 28%;
    height: 41ch;
    /* filter: drop-shadow(0px 2px 5px #0000009b); */
}

.exp11{
    padding: 60px 71px;
}

.exp11 h1{
    color: #0050ff;
    width: 11ch;
}

.exp11 p{
    margin: 7px 0;
    /* text-align: center; */
}

.exp12{
    padding: 132px 21px;
}

.exp12 p{
    line-height: 32px;
    word-spacing: 6px;
}

.exp1{
    background-color: #fff;display: flex;
    flex-direction: row;
    gap: 10px;
}

.exp1 p{
    font-weight: 300;
}


.exp-btn a:hover{
    background: transparent;
    cursor: pointer;
    color: black;
}

.resume-box .bx{
    color: #0050ff;
}


.space-bar{
    margin-top: 5ch;
}



.footer{
    width: 98%;
    height: 8ch;
    display: flex;
    justify-content: space-between;
    top: 3ch;
    position: relative;
    padding-left: 32px;
}

.footer .f1 p{
    color: black;
    position: absolute;
}

.footer .f2{
    display: flex;
    gap: 66px;
    padding-right: 33px;
}
.f2 h1{
    font-size: 16px;
    text-align: center;
}

.f2 p{
    font-size:12px;
}
.f2 .bx{
    padding: 3px 5px;
}

.exp1:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s;
}

@media only screen and (max-width: 1038px){
    .nav-text h1{
        font-size:19px
    }
    .nav-text p{
        font-size:19px
    }
    nav {
        padding: 24px 25px;
    }
    nav ul li a{
        font-size: 18px;
    }
    .resume-box h1{
        font-size:22px;
    }
    .exp-btn h2{
        font-size: 18px;
    }
    .exp-btn a{
        font-size: 12px;
    }
    .exp11 {
        padding: 32px 25px;
    }
    .exp1{
        height: 30ch;
    }
    .exp12{
        padding: 78px 0px;
        width: 26ch;
    }
    .exp1 p{
        font-size: 13px;
        word-spacing: normal;
        line-height: normal;
    }
    .resume-box {
        height: 184ch;
    }
    .footer{
        top: 1ch;
    }
}

@media only screen and (max-width:910px){ 
    .exp11 h1{
        font-size:13px
    }
    .exp11 p{
        font-size:13px;
    }
    .exp1 p{
        font-size:11px;
    }
    .navbar nav ul li a {
        font-size: 14px;
    }
}

@media only screen and (max-width:776px){
    .footer .f1 p{
        font-size: 12px;
    }
    .footer{
        padding-left: 11px;
        height: 6ch;
    }
    .f2 h1{
        font-size: 13px;
    }
    .f2 p{
        font-size: 12px;;
    }
    .nav-text h1{
        font-size: 14px;
    }
    .nav-text p{
        font-size: 13px;
    }
    .navbar nav ul li a {
        font-size: 11px;
    }
    .resume-box h1 {
        font-size: 18px;
    }
    .exp-btn h2 {
        font-size: 14px;
    }
    .exp-btn a{
        font-size: 11px;
    }
    .exp1 p{
        font-size: 9px;
        padding: 0 4px;
    }

}

@media only screen and (max-width:731px){
    .footer .f2 {
        gap: 9px;
    }
    .f2 p {
        font-size: 11px;
    }
    .resume-box h1 {
        font-size: 15px;
    }
    .exp1 p {
        font-size: 8px;
    }
    .exp11 {
        padding: 1px 25px;
    }
    .exp12 {
        padding: 44px 0px;
    }
    .exp1 {
        height: 21ch;
    }
    .resume-box {
        height: 142ch;
    }
    #abc{
        margin: 0;
    }
    .exp-btn a {
        font-size: 10px;
    }
    .exp-btn a {
        font-size: 10px;
    }
}
    
@media only screen and (max-width:598px){
    .exp1 p {
        font-size: 6px;
    }
    .footer {
        height: 4ch;
    }
    .footer .f1 p {
        font-size: 9px;
    }
    .f2 h1 {
        font-size: 8px;
    }
    .footer .f2 {
        gap: 23px;
    }
    .f2 p {
        font-size: 7px;
    }
    .f23 .bx{
        font-size: 13px;
    }
    .nav-text {
        padding: 22px 0 0 9px;
    }
    .nav-text h1 {
        font-size: 11px;
    }
    .nav-text p {
        font-size: 12px;
    }
    nav {
        padding: 18px 18px;
    }
}

@media only screen and (max-width:519px){
    .resume-box h1 {
        font-size: 11px;
    }
    .exp1 {
        height: 16ch;
    }
    .exp1 p {
        font-size: 5px;
    }
    .exp-btn h2 {
        font-size: 11px;
    }
    .exp-btn a {
        font-size: 8px;
    }
    .nav-text {
        padding: 20px 0 0 15px;
    }
    .nav-text p {
        font-size: 11px;
    }
    .resume-box {
        height: 114ch;
    }
    .exp-btn {
        margin: 27px 0 0;
    }

}
    
@media only screen and (max-width: 480px){
    .footer .f1 p {
        font-size: 6px;
    }
    .f2 h1 {
        font-size: 7px;
    }
    .nav-text p {
        font-size: 10px;
    }
    .nav-text h1 {
        font-size: 8px;
    }
    .navbar nav ul li a {
        font-size: 8px;
    }
    .navbar {
        height: 6ch;
        padding: 0;
    }
    .resume-box h1 {
        font-size: 10px;
    }
    .exp-btn a {
        font-size: 6px;
    }
    .exp-btn a {
        font-size: 6px;
    }
    .exp1 p {
        font-size: 4px;
    }
    .exp1 {
        height: 12ch;
    }
    .resume-box {
        height: 89ch;
    }

}
    

@media only screen and (max-width:439px){
    .exp1 p {
        font-size: 3px;
    }
    .resume-box h1 {
        font-size: 7px;
    }
    .resume-box h1 {
        font-size: 9px;
        margin-top: 24px;
    }
    .exp1 {
        height: 10ch;
    }
    .exp1 {
        margin: 17px 28% 0;
    }
    #abc{
        margin-top:12px
    }
    .resume-box {
        height: 62ch;
    }
    .footer .f2 {
        padding-right: 0;
    }
    .f23 .bx {
        font-size: 12px;
    }
}



@media only screen and (max-width:368px){
    .resume-box {
        width: 142%;
    }
    .footer {
        gap: 15ch;
    }
    .f2 p {
        width: 14ch;
    }
    nav {
        padding: 18px 89px;
    }
    .f22{
        margin: 0 62px 0 1px;
    }
    .navbar nav ul li a {
        font-size: 6px;
    }
    .navbar nav ul li{
        padding-right: 0;
    }
}



































































